.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header .top_banner {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.header .top_banner span {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;



    .header .gnb {
        margin: 0 0 0 auto;
    }

    .header .gnb>ul {
        display: flex;
        gap: 30px;
        line-height: 90px;
        font-size: 19px;
        font-weight: 500;
    }

    .footer {
        border-top: 1px solid #ddd;
        padding: 50px 0;
        text-align: center;

    }

    .footer ul {
        margin: 10px 0;
    }

    .footer ul>li {
        display: inline-block;

    }

    .footer ul>li~li::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 13px;
        background: #333;
        margin: 0 15px;
        vertical-align: middle;
    }

    .footer ul>li~li::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 13px;
        background: #333;
        margin: 0 15px;
        vertical-align: middle;

    }