.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header .top_banner {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.header .top_banner span {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;

    padding: 0 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    line-height: 90px;
    font-size: 19px;
    font-weight: 500;
}


.main_visual {
    position: relative;
    height: 600px;
    background: url(../img/main_slider01.jpg) no-repeat center top/cover;
}

.main_visual .slogan {
    position: absolute;
    top: 70px;
    right: 650px;
}

.main_slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.main_slider h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 30px 0;
    background: linear-gradient(#0dcaf0, #fd7e14);
    color: transparent;
    -webkit-background-clip: text;

}

.main_slider strong {
    display: block;
    margin: 0 0 20px 0;
    color: #fd7e14;
}

.main_slider .slick-dots {
    padding: 30px 0 0 0;

}

.main_slider .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 80px;
    height: 4px;
    background: #333;
}

.main_slider .slick-dots li.slick-active {
    background: #fd7e14;
}

.main_slider .slick-dots button {
    display: none;
}

.main_banner {
    transform: translateY(-50%);
}

.main_banner figure {

    display: flex;
    flex: 1;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 200px;



}






.main_banner figure:nth-child(1) {
    background: #e7948f;
}

.main_banner figure:nth-child(2) {
    background: #f3ca4f;
}

.main_banner figure:nth-child(3) {
    background: #337688;
}

.main_banner figure:nth-child(4) {
    background: #6fa376;
}

.main_banner .container {
    height: 220px;
    align-items: flex-end;
}

.main_banner figure:hover {
    height: 220px;
    transition: 0.5s;
}

.main_banner figure a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100px;
    height: 120px;
    font-size: 14px;
}

.main_banner figure:nth-child(1) a {
    background: url(../img/icon_set_w.png)no-repeat -100px 0;


}









.main_banner figure:nth-child(2) a {
    background: url(../img/icon_set_w.png)no-repeat -200px 0;
    transition: 0.5s;


}




.main_banner figure:nth-child(3) a {
    background: url(../img/icon_set_w.png)no-repeat -300px 0;

}



.main_banner figure:nth-child(4) a {
    background: url(../img/icon_set_w.png)no-repeat -400px 0;

}




.main_banner figure strong {}

.main_banner .customer {
    position: relative;
    flex: 2;
    text-align: right;
    background: #dddd;
    padding: 50px 40px 66px 0;
}

.main_banner .customer a {
    display: block;
    margin: 0 0 15px 0;
    font-size: 38px;
    background: linear-gradient(#6fa376, #337688);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}

.main_banner .customer i {
    position: absolute;
    top: -29px;
    right: 30px;
    color: #fff;
    background: rgba(233, 11, 11, 0.867);
    font-size: 38px;
    padding: 10px;
    border-radius: 50%;
}

.main_link h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

.main_link h2::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 0 10px;
}

.main_link {
    padding: 0 0 100px 0;
    background: linear-gradient(to top, #f7f7f7 50%, transparent 40%)
}

.main_link h3::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    margin: 15px 0;
}

.main_link li::before {
    font-family: xeicon !important;
    content: "\ea10"
}

.main_link figure {
    position: relative;
    flex: 1;
    border-radius: 50px 0 0 0;
    overflow: hidden;

}

.main_link img {

    width: 100%;
    margin: 0 0 30px 0;
}

.main_link h3 {
    font-size: 23px;
    margin: 0 0 30px 0;
}

.main_link h3::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #f00;
    margin: 15px;
}

.main_link figure a {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 60px;
    height: 60px;
    background: rgba(243, 202, 79, 0.5);
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    transition: 0.5s;

}

.main_link figure a:hover {
    background: rgba(243, 202, 79, 1);
    border-radius: 5px;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 50px 0;
    text-align: center;

}

.footer ul {
    margin: 10px 0;
}

.footer ul>li {
    display: inline-block;

}

.footer ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #333;
    margin: 0 15px;
    vertical-align: middle;
}

.footer address {
    font-style: normal;

}